.liebox .lie li .tou, .liebox .lie li .zi {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.topbox .top, .xuanbox .xuan .dasan .san img {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.jiebox .jie .zi {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

@keyframes rightin {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rightout {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes leftin {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes leftout {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

body {
  background: #f5f6fa;
}

.topbox {
  width: 100%;
  height: 0.9rem;
  background: #0078e6;
  position: relative;
}

.topbox .top {
  width: 2.17rem;
  height: 0.9rem;
  background: url(../images/m_logo_03.png) no-repeat;
  background-size: cover;
}

.bannerbox {
  width: 100%;
  min-height: 0.2rem;
}

.bannerbox .banner {
  height: 2.8rem;
  background: url(../images/m_da_05.png) no-repeat;
  background-size: cover;
  line-height: 2.8rem;
  text-align: center;
  font-size: 0.3rem;
  font-weight: bold;
  color: #ffffff;
}

.bannerbox .banner i {
  font-size: 0.3rem;
  color: #ef8b00;
  font-weight: bold;
}

.bannerbox .banner b {
  color: #00b5f7;
  font-weight: bold;
  font-size: 0.3rem;
}

.mianbox {
  width: 100%;
  min-height: 0.2rem;
}

.mianbox .mian {
  padding: 0 0.24rem;
}

.mianbox .mian .zi {
  min-width: 1.9rem;
  height: 0.32rem;
  position: relative;
  padding: 0.36rem 0;
}

.mianbox .mian .zi a {
  font-size: 0.22rem;
  color: #494747;
  position: absolute;
  top: 0.2rem;
}

.mianbox .mian .zi .tu {
  width: 0.08rem;
  height: 0.21rem;
  background: url(../images/m_xiaoyu_03.png) no-repeat;
  position: absolute;
  top: 0.26rem;
  left: 0.66rem;
  background-size: cover;
}

.mianbox .mian .zi i {
  font-size: 0.22rem;
  color: #494747;
  position: absolute;
  top: 0.2rem;
  left: 0.96rem;
}

.xuanbox {
  width: 100%;
  height: 0.8rem;
}

.xuanbox .xuan {
  padding: 0 0.24rem;
}

.xuanbox .xuan ul {
  border: 1px  solid #01b5ff;
  width: 100%;
  height: 0.8rem;
  border-radius: 0.1rem;
}

.xuanbox .xuan ul li {
  float: left;
  width: 33.33%;
  height: 100%;
  text-align: center;
  line-height: 0.78rem;
  color: #000;
  position: relative;
}

.xuanbox .xuan ul .te {
  background: #01b5ff;
  color: #ffffff;
  border-radius: 0.1rem;
}

.xuanbox .xuan .dasan .san {
  display: inline-block;
  width: 32%;
  height: 0.12rem;
  position: relative;
  opacity: 0;
}

.xuanbox .xuan .dasan .san img {
  top: -0.175rem;
}

.xuanbox .xuan .dasan .active {
  opacity: 1;
}

.liebox {
  width: 100%;
  min-height: 0.2rem;
  margin-top: 0.25rem;
}

.liebox .lie {
  padding: 0 0.24rem;
  display: none;
}

.liebox .lie li {
  width: 100%;
  height: 2.7rem;
  background: #ffffff;
  position: relative;
  margin-bottom: 0.1rem;
}

.liebox .lie li .tou {
  width: 2.3rem;
  height: 2.3rem;
  background: url(../images/m_jin_07.png) no-repeat;
  background-size: cover;
  left: 0.28rem;
}

.liebox .lie li .zi {
  min-width: 4rem;
  height: 1.2rem;
  left: 2.85rem;
}

.liebox .lie li .zi b {
  padding: 0.15rem 0 0 0;
  font-size: 0.26rem;
  color: #111;
}

.liebox .lie li .zi a {
  font-size: 0.24rem;
  color: #ff9300;
  float: right;
}

.liebox .lie li .zi .xian {
  width: 1.75rem;
  height: 0.05rem;
  background: url(../images/m_changxian_10.png) no-repeat;
}

.liebox .lie li .zi h5 {
  font-size: 0.24rem;
  color: #01b5ff;
}

.liebox .lie li .zi h6 {
  width: 3.06rem;
  height: 1rem;
  font-size: 0.24rem;
  color: #666666;
}

.liebox .lie.active {
  display: block;
}

.yebox {
  width: 100%;
  height: 0.7rem;
  background: #ffffff;
}

.yebox .ye {
  padding: 0 0.24rem;
}

.yebox .ye ul {
  min-width: 7.02rem;
}

.yebox .ye ul li {
  margin-top: 0.15rem;
  float: left;
  margin-left: 0.15rem;
}

.yebox .ye ul li img {
  width: 0.32rem;
}

.yebox .ye ul li .te {
  width: 0.58rem;
}

.yebox .ye .zi {
  width: 1.47rem;
  height: 0.32rem;
  float: left;
  margin-left: 0.15rem;
  margin-top: 0.15rem;
  position: relative;
}

.yebox .ye .zi b {
  line-height: 0.32rem;
  font-size: 0.14rem;
  position: absolute;
  left: 0.4rem;
}

.yebox .ye .zi b .in {
  width: 0.58rem;
  float: left;
  height: 0.32rem;
  border-radius: 1rem;
  border: 1px solid #dddee1;
  position: absolute;
  left: 0.5rem;
  top: 0.01rem;
  text-align: center;
  line-height: 0.32rem;
}

.yebox .ye .zi b .in input {
  width: 0.5rem;
  height: 0.25rem;
  border-radius: 1rem;
}

.yebox .ye .zi b i {
  float: left;
  position: absolute;
  top: 0.01rem;
  left: 1.15rem;
}

.yebox .ye .go {
  position: relative;
}

.yebox .ye .go img {
  width: 0.32rem;
  height: 0.32rem;
  position: absolute;
  right: 0.11rem;
  margin-top: 0.15rem;
}

.jiebox {
  width: 100%;
  min-height: 0.92rem;
  position: relative;
}

.jiebox .jie {
  padding: 0 0.24rem;
}

.jiebox .jie .zi {
  max-width: 5rem;
  height: 0.58rem;
  text-align: center;
}

.jiebox .jie .zi h5 {
  font-size: 0.2rem;
}

/*# sourceMappingURL=m_jin.css.map */