@charset "UTF-8";
.header .logo, .header h1, .bread p {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.con .gaishu .left .left1, .con .jianjie .left .left1, .bottom {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes rightin {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rightout {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes leftin {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes leftout {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

body {
  background: #F5F6FA;
}

i {
  font-family: '宋体';
  font-weight: bold;
}

font {
  font-size: 0.22rem;
  font-weight: normal;
}

.header {
  width: 100%;
  height: 0.9rem;
  background: #0078E6;
  position: relative;
}

.header .logo {
  width: 0.7rem;
  height: 0.67rem;
  background-image: url("../images/w.png");
  background-size: cover;
  background-repeat: no-repeat;
  left: 2.7rem;
}

.header h1 {
  font-size: 0.36rem;
  color: #fff;
  font-family: '微软雅黑';
  left: 3.62rem;
  line-height: 0.9rem;
}

.banner {
  width: 100%;
  height: 2.8rem;
  background: url("../images/w1.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  line-height: 2.8rem;
  font-size: 0.3rem;
  color: #fff;
}

.banner font {
  font-size: 0.3rem;
}

.bread {
  width: 100%;
  height: 0.9rem;
  background: #F5F6FA;
  padding: 0rem 0.24rem 0rem 0.24rem;
  position: relative;
}

.bread p {
  line-height: 0.9rem;
  font-size: 0.22rem;
  color: #4D4B4B;
}

.bread a {
  font-size: 0.22rem;
  color: #4D4B4B;
}

.con {
  width: 100%;
  min-height: 1rem;
  padding: 0rem 0.24rem 0rem 0.24rem;
}

.con .gaishu {
  width: 100%;
  height: 4.08rem;
  background: #fff;
}

.con .gaishu div {
  float: left;
}

.con .gaishu .left {
  height: 100%;
  width: 0.4rem;
  position: relative;
}

.con .gaishu .left .left1 {
  width: 0.04rem;
  height: 0.2rem;
  background: #01b5ff;
  top: 0.32rem;
}

.con .gaishu .con1 {
  width: 6.42rem;
  height: 100%;
  position: relative;
}

.con .gaishu .con1 h3 {
  color: #575757;
  line-height: 0.72rem;
  font-size: 0.24rem;
  height: 0.72rem;
  padding-top: 0.1rem;
  border-bottom: 0.01rem dashed #C0C0C0;
}

.con .gaishu .con1 .imgs {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 0.2rem;
  margin-top: 0.32rem;
  background: url("../images/w19.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.con .gaishu .con1 .ul {
  width: 3.2rem;
  height: 3rem;
  position: absolute;
  right: 0;
  margin-top: 0.32rem;
}

.con .gaishu .con1 .ul .li1 {
  font-size: 0.28rem;
  font-weight: bolder;
  height: 1rem;
}

.con .gaishu .con1 .ul .li2 {
  font-size: 0.22rem;
  font-weight: bolder;
}

.con .jianjie {
  width: 100%;
  height: 5.3rem;
  background: #fff;
  margin-top: 0.35rem;
}

.con .jianjie div {
  float: left;
}

.con .jianjie .left {
  height: 100%;
  width: 0.4rem;
  position: relative;
}

.con .jianjie .left .left1 {
  width: 0.04rem;
  height: 0.2rem;
  background: #01b5ff;
  top: 0.32rem;
}

.con .jianjie .con2 {
  width: 6.42rem;
  height: 100%;
  position: relative;
}

.con .jianjie .con2 h3 {
  color: #575757;
  line-height: 0.72rem;
  font-size: 0.24rem;
  height: 0.72rem;
  padding-top: 0.1rem;
  border-bottom: 0.01rem dashed #C0C0C0;
}

.con .jianjie .con2 p {
  padding-top: 0.3rem;
  font-size: 0.24rem;
}

.bottom {
  width: 5.6rem;
  height: 0.8rem;
  margin-top: 0.3rem;
}

.bottom p {
  font-size: 0.2rem;
  text-align: center;
}

/*# sourceMappingURL=wszxqing.css.map */