@charset "UTF-8";
@keyframes rightin {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rightout {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-300px, 0, 0);
  }
}

@keyframes leftin {
  0% {
    transform: translate3d(-300px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes leftout {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

.bannerdiv .bannerul .ri {
  display: block;
  z-index: 10;
  animation: rightin 0.8s ease both;
}

.bannerdiv .bannerul .ro {
  display: block;
  animation: rightout 0.8s ease both;
}

.bannerdiv .bannerul .li {
  display: block;
  animation: leftin 0.8s ease both;
}

.bannerdiv .bannerul .lo {
  z-index: 10;
  display: block;
  animation: leftout 0.8s ease both;
}

@minxin onsmall {}@minxin onmiddle {}* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, a, div, li {
  font-size: 14px;
  font-family: "微软雅黑";
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  position: relative;
  float: left;
}

@media (min-width: 0) {
  .col-xs-1 {
    width: 8.33333%;
  }
  .col-xs-2 {
    width: 16.66667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33333%;
  }
  .col-xs-5 {
    width: 41.66667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33333%;
  }
  .col-xs-8 {
    width: 66.66667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33333%;
  }
  .col-xs-11 {
    width: 91.66667%;
  }
  .col-xs-12 {
    width: 100%;
  }
}

@media (min-width: 750px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

@media (min-width: 970px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 1170px) {
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@font-face {
  font-family: "apple-text";
  src: url("font/myriad-set-pro_text.woff");
}

.mo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: none;
}

.mo1 {
  display: block;
}

.header {
  opacity: 0.8;
}

.logo a {
  width: 20px;
  background: url(images/logo.svg) no-repeat center center;
}

.mac a {
  width: 30px;
  background: url(images/mac.svg) no-repeat center center;
}

.ipad a {
  width: 30px;
  background: url(images/ipad.svg) no-repeat center center;
}

.iphone a {
  width: 44px;
  background: url(images/iphone1.svg) no-repeat center center;
}

.watch a {
  width: 44px;
  background: url(images/watch.svg) no-repeat center center;
}

.tt a {
  width: 44px;
  background: url(images/100.svg) no-repeat center center;
}

.tv a {
  width: 44px;
  background: url(images/tv.svg) no-repeat center center;
}

.music a {
  width: 55px;
  background: url(images/support.svg) no-repeat center center;
}

.search a {
  width: 20px;
  background: url(images/search.svg) no-repeat center center;
}

.bag a {
  width: 18px;
  background: url(images/bag.svg) no-repeat center center;
}

.small {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  display: none;
  z-index: 1000;
  background: black;
}

.small .logo1 {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 20px;
  height: 44px;
  background: url(images/59.svg) no-repeat;
}

.small .logo1:hover {
  opacity: 0.4;
}

.small .bag1 {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  width: 20px;
  height: 44px;
  background: url(images/50.svg) no-repeat;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
}

.small .bag1:hover {
  opacity: 0.4;
}

.small .box {
  position: absolute;
  left: 5px;
  top: 0;
  width: 100px;
  height: 44px;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
}

.small .box:hover {
  opacity: 0.3;
}

.small .box1 {
  position: absolute;
  left: 10px;
  top: 20px;
  width: 15px;
  height: 1px;
  background: #fff;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transform: translateY(0) rotate(0);
}

.small .box2 {
  position: absolute;
  left: 10px;
  top: 25px;
  width: 15px;
  height: 1px;
  background: #fff;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transform: translateY(0) rotate(0);
}

.small .logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 20px;
  height: 44px;
  background: url(images/logo.svg) no-repeat;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
}

.small .bag {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 44px;
  background: url(images/bag.svg) no-repeat;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
}

.small .box1.boxb {
  transform: rotate(45deg) translateY(3px);
}

.small .box2.boxb {
  transform: rotateZ(-45deg) translateY(-4px);
}

.small a {
  display: block;
}

.small .bag1.bagp {
  transform: translateX(100px);
}

@media screen and (max-width: 768px) {
  .small {
    display: block;
  }
  .sousuo {
    display: none;
  }
  .bag2 {
    display: none;
  }
}

.small .xialakuang {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  height: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  overflow: hidden;
}

.small .xialakuang li {
  width: 80%;
  height: 50px;
  color: #fff;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  transform: translateX(-200%);
}

.small .xialakuang li a {
  display: block;
  line-height: 50px;
  padding: 0 10px;
  font-size: 100;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
}

.small .xialakuang li a:hover {
  opacity: 0.6;
}

.small .xialakuang li span {
  font-size: 0;
  line-height: 0;
  height: 0;
  width: 0;
}

.dh:nth-child(1) {
  background: url("images/51.svg");
  background-repeat: no-repeat;
}

.dh:nth-child(2) {
  background: url("images/53.svg");
  background-repeat: no-repeat;
}

.dh:nth-child(3) {
  background: url("images/54.svg");
  background-repeat: no-repeat;
}

.dh:nth-child(4) {
  background: url("images/55.svg");
  background-repeat: no-repeat;
}

.dh:nth-child(5) {
  background: url("images/56.svg");
  background-repeat: no-repeat;
}

.dh:nth-child(6) {
  background: url("images/57.svg");
  background-repeat: no-repeat;
}

.dh:nth-child(7) {
  background: url("images/58.svg");
  background-repeat: no-repeat;
}

.dh:nth-child(8) {
  background: url("images/52.svg");
  background-repeat: no-repeat;
}

.xialakuang .zi {
  color: #fff;
}

.xialakuang.xialakuangx {
  height: 500px;
  background: black;
  z-index: 10;
}

.xialakuang.xialakuangx li:nth-child(1) {
  transition: transform 0.6s ease 0s;
  transform: translateX(0);
}

.xialakuang.xialakuangx li:nth-child(2) {
  transition: transform 0.6s ease 0.04s;
  transform: translateX(0);
}

.xialakuang.xialakuangx li:nth-child(3) {
  transition: transform 0.6s ease 0.08s;
  transform: translateX(0);
}

.xialakuang.xialakuangx li:nth-child(4) {
  transition: transform 0.6s ease 0.12s;
  transform: translateX(0);
}

.xialakuang.xialakuangx li:nth-child(5) {
  transition: transform 0.6s ease 0.16s;
  transform: translateX(0);
}

.xialakuang.xialakuangx li:nth-child(6) {
  transition: transform 0.6s ease 0.2s;
  transform: translateX(0);
}

.xialakuang.xialakuangx li:nth-child(7) {
  transition: transform 0.6s ease 0.24s;
  transform: translateX(0);
}

.xialakuang.xialakuangx li:nth-child(8) {
  transition: transform 0.6s ease 0.28s;
  transform: translateX(0);
}

.xialakuang.xialakuangy {
  height: 500px;
  background: black;
  z-index: 10;
}

.xialakuang.xialakuangy li:nth-child(1) {
  transition: transform 0.6s ease 0s;
  transform: translateY(-350px);
}

.xialakuang.xialakuangy li:nth-child(2) {
  transition: transform 0.6s ease 0.04s;
  transform: translateY(-350px);
}

.xialakuang.xialakuangy li:nth-child(3) {
  transition: transform 0.6s ease 0.08s;
  transform: translateY(-350px);
}

.xialakuang.xialakuangy li:nth-child(4) {
  transition: transform 0.6s ease 0.12s;
  transform: translateY(-350px);
}

.xialakuang.xialakuangy li:nth-child(5) {
  transition: transform 0.6s ease 0.16s;
  transform: translateY(-350px);
}

.xialakuang.xialakuangy li:nth-child(6) {
  transition: transform 0.6s ease 0.2s;
  transform: translateY(-350px);
}

.xialakuang.xialakuangy li:nth-child(7) {
  transition: transform 0.6s ease 0.24s;
  transform: translateY(-350px);
}

.xialakuang.xialakuangy li:nth-child(8) {
  transition: transform 0.6s ease 0.28s;
  transform: translateY(-350px);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999944;
}

.header .header-inner {
  max-width: 1024px;
  height: 44px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  z-index: 99999;
}

.header .header-inner .nav {
  text-align: justify;
  height: 44px;
}

.header .header-inner .nav::after {
  content: '';
  height: 0;
  display: inline-block;
  width: 100%;
  line-height: 0;
  overflow: hidden;
}

.header .header-inner .nav li {
  height: 44px;
  line-height: 44px;
  display: inline-block;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

.header .header-inner .nav li a {
  display: block;
  line-height: 44px;
  padding: 0 10px;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
}

.header .header-inner .nav li a:hover {
  opacity: 0.6;
}

.header .header-inner .nav li a span {
  font-size: 0;
  line-height: 0;
  height: 0;
  width: 0;
}

@media screen and (max-width: 768px) {
  .header .header-inner .nav li {
    display: none;
  }
}

.fanhui {
  width: 30px;
  height: 44px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 12px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transform: translateY(-100%);
}

.fanhui .bag1 {
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  background: #fff;
  height: 1px;
  transform: rotateZ(40deg);
}

.fanhui .bag2 {
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  background: #fff;
  height: 1px;
  transform: rotateZ(140deg);
}

.fanhui.fanhui1 {
  transform: translateY(0);
}

.dh1.nav0 {
  transform: scale(0.8, 0.8);
  opacity: 0;
}

/* 搜索框弹框 */
.xialakuang .sousuo1 {
  outline: none;
  border: 0;
  background: black;
  margin-left: 25px;
  font-size: 20px;
  margin-top: 15px;
}

.sousuo {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  overflow: hidden;
}

.sousuo .sousuo1 {
  outline: none;
  border: 0;
  padding: 0px 5px;
  width: 700px;
  color: #ccc;
  line-height: 44px;
  height: 44px;
  background: transparent;
  float: left;
  transform: translateX(500%);
}

.sousuo .sousuo2 {
  float: left;
  width: 730px;
  height: 0;
  background: #fff;
  overflow: hidden;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.sousuo .sousuo2 .h3 {
  margin-top: 20px;
  color: #999;
  padding: 0 40px;
  font-size: 10px;
}

.sousuo .sousuo2 ul li {
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
  padding: 0 50px;
  color: #ccc;
  opacity: 0;
  transform: translateX(500%);
  cursor: pointer;
}

.sousuo .searching {
  transform: translateX(1000px);
  width: 30px;
  height: 44px;
  float: left;
  background: url(images/search.svg) no-repeat center center;
}

.sousuo.sousuo0 {
  width: 730px;
  transition: transform 0.4s ease;
  transform: translateX(0);
}

.sousuo.sousuo0 .searching {
  transition: all 0.8s ease 0.2s;
  transform: translateX(0);
}

.sousuo.sousuo0 .sousuo1 {
  transition: all 0.8s ease 0.3s;
  transform: translateX(0);
}

.sousuo.sousuo0 .sousuo2 {
  transition: transform 0.8s ease 0.3s;
  height: 250px;
}

.sousuo.sousuo0 .sousuo2 li {
  opacity: 1;
  transform: translateX(0);
}

.sousuo.sousuo0 .sousuo2 li:hover {
  background: #ccc;
  color: #1f78f1;
}

.sousuo.sousuo0 .sousuo2 li:nth-child(1) {
  transition: transform 0.6s ease 0s;
}

.sousuo.sousuo0 .sousuo2 li:nth-child(2) {
  transition: transform 0.6s ease 0.3s;
}

.sousuo.sousuo0 .sousuo2 li:nth-child(3) {
  transition: transform 0.6s ease 0.6s;
}

.sousuo.sousuo0 .sousuo2 li:nth-child(4) {
  transition: transform 0.6s ease 0.9s;
}

.sousuo.sousuo0 .sousuo2 li:nth-child(5) {
  transition: transform 0.6s ease 1.2s;
}

.banner {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.banner .bannerul {
  position: relative;
}

.banner .bannerul li {
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;
  transition: all 0.6s ease both;
  -webkit-transition: all 0.6s ease;
  display: none;
}

.banner .bannerul li a {
  width: 100%;
  height: 100%;
  display: block;
}

.banner .bannerdiv .bannerul .active {
  display: block;
}

.banner .bannerdiv h3 {
  color: #231f20;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 100px;
  font-size: 50px;
  font-weight: normal;
}

.banner .bannerdiv p {
  color: #222;
  position: absolute;
  left: 50%;
  font-family: "apple-text";
}

.banner .left1 {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: absolute;
  background: rgba(180, 180, 180, 0.25);
  z-index: 10000;
  text-align: center;
  line-height: 64px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  font-family: "宋体";
  font-size: 40px;
  color: #848484;
  margin-left: 30px;
  display: none;
  cursor: pointer;
}

.banner .right1 {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: absolute;
  background: rgba(180, 180, 180, 0.25);
  z-index: 10000;
  text-align: center;
  line-height: 64px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  font-family: "宋体";
  font-size: 40px;
  color: #848484;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

.banner .leftf {
  width: 220px;
  height: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.banner .leftf:hover .left1 {
  display: block;
}

.banner .rightf {
  width: 220px;
  height: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.banner .rightf:hover .right1 {
  display: block;
}

.banner .anniu {
  width: 180px;
  height: 22px;
  position: absolute;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 30px;
  z-index: 10;
}

.banner .anniu ul .active {
  width: 50px;
  height: 4px;
  background: #DBDBDB;
  float: left;
  margin-top: 8px;
  margin-left: 8px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.banner .anniu .kk {
  width: 50px;
  height: 4px;
  background: #DBDBDB;
  transition: all ease;
  border-radius: 20px;
  position: absolute;
  transition: all 0.8s ease both;
  -webkit-transition: all 0.8s ease both;
  left: -100%;
  top: 0;
  background: #676767;
  z-index: 10;
  display: block;
  animation: leftout 3s ease both;
}

.banner .banner_hide li {
  background: rgba(194, 95, 252, 0.4);
  opacity: 0;
}

.banner .banner_hide .indicators {
  opacity: 1;
  animation: li-in 1.9s linear both;
}

.banner .banner_hide .hot {
  opacity: 1;
  width: 50px;
}

.banner .anniu ul .red {
  width: 100%;
  height: 100%;
  background: red;
}

.banner .bannerdiv .banner1 p {
  margin-top: 300px;
  font-size: 40px;
  margin-left: -120px;
  top: 180px;
  font-weight: normal;
}

.banner .bannerdiv .banner2 p {
  margin-top: 300px;
  font-size: 40px;
  margin-left: -130px;
  top: -190px;
  font-weight: normal;
}

.banner .bannerdiv .banner3 p {
  margin-top: 300px;
  font-size: 40px;
  margin-left: -36px;
  top: -180px;
  font-weight: normal;
  color: #fff;
}

.bannerdiv li:nth-child(1) {
  background-color: #F3F3F3;
}

.bannerdiv li:nth-child(2) {
  background-color: #fff;
}

.bannerdiv li:nth-child(3) {
  background-color: black;
}

@media screen and (max-width: 768px) {
  .banner {
    height: 500px;
  }
}

@media screen and (max-width: 768px) {
  .banner .bannerdiv ul li {
    height: 500px;
  }
}

@media screen and (max-width: 768px) {
  .banner .bannerdiv h3 {
    font-size: 40px;
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .banner .bannerdiv p {
    font-size: 22px;
    width: 300px;
  }
}

.banner .bannerdiv .banner1 {
  background-image: url(images/watch_alt_large.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.banner .bannerdiv .banner1 h3 {
  width: 225px;
  height: 60px;
  background-image: url(images/logo_watch_large.png);
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  .banner .bannerdiv .banner1 {
    background-image: url(images/watch_alt_medium.jpg);
    background-repeat: no-repeat;
    background-position: center 70%;
    background-size: cover;
  }
  .banner .bannerdiv .banner1 h3 {
    background-image: url(images/logo_watch_small.png);
    background-repeat: no-repeat;
    margin-top: -60px;
  }
  .banner .bannerdiv .banner1 p {
    font-size: 32px;
    margin-top: 230px;
  }
}

.banner .bannerdiv .banner2 {
  background-image: url(images/macbookpro_large.jpg);
  background-repeat: no-repeat;
  background-position: center 100%;
  background-size: contain;
}

.banner .bannerdiv .banner2 h3 {
  width: 225px;
  height: 60px;
  background-image: url(images/logo_macbookpro_large.png);
  background-repeat: no-repeat;
  background-position: center 20px;
  margin-top: -30px;
}

@media screen and (max-width: 768px) {
  .banner .bannerdiv .banner2 {
    background-image: url(images/macbookpro_medium.jpg);
    background-repeat: no-repeat;
    background-position: auto 100%;
  }
  .banner .bannerdiv .banner2 h3 {
    background-image: url(images/logo_macbookpro_small.png);
    background-repeat: no-repeat;
    margin-top: -40px;
  }
  .banner .bannerdiv .banner2 p {
    font-size: 32px;
    margin-top: 300px;
    margin-left: -100px;
  }
}

.banner .bannerdiv .banner3 {
  background-image: url(images/iphone_large.jpg);
  background-repeat: no-repeat;
  background-position: center 100%;
  background-size: contain;
}

.banner .bannerdiv .banner3 h3 {
  width: 300px;
  height: 40px;
  background-image: url(images/2.png);
  background-repeat: no-repeat;
  margin-left: -20px;
  margin-top: -20px;
}

@media screen and (max-width: 768px) {
  .banner .bannerdiv .banner3 {
    background-image: url(images/iphone_portrait_small.jpg);
    background-repeat: no-repeat;
    background-position: auto 90%;
    background-size: contain;
  }
  .banner .bannerdiv .banner3 h3 {
    background-image: url(images/2.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: -150px;
  }
  .banner .bannerdiv .banner3 p {
    margin-left: -60px;
  }
}

.content {
  border: 1px solid #fff;
  box-sizing: border-box;
}

.content li {
  height: 200px;
}

.row1 li:nth-child(1) {
  background: url("images/gifts_lastminute_large.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  background-size: cover;
}

.row1 li:nth-child(1) {
  background: url("images/gifts_lastminute_medium.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  background-size: contain;
}

.row1 li:nth-child(1) {
  background-image: url("images/gifts_lastminute_small.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  background-size: cover;
}

.row1 li:nth-child(2) {
  background: url("images/ipad_pro_large.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  background-size: cover;
}

.row1 li:nth-child(2) {
  background: url("images/ipad_pro_medium.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  background-size: contain;
}

.row1 li:nth-child(2) {
  background-image: url("images/ipad_pro_small.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  background-size: cover;
}

.row1 li:nth-child(3) {
  background: url("images/airpods_large.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  background-size: cover;
}

.row1 li:nth-child(3) {
  background: url("images/airpods_medium.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  background-size: contain;
}

.row1 li:nth-child(3) {
  background-image: url("images/airpods_small.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  background-size: cover;
}

.row1 li:nth-child(4) {
  background: url("images/apple_tv_large.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  background-size: cover;
}

.row1 li:nth-child(4) {
  background: url("images/apple_tv_medium.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  background-size: contain;
}

.row1 li:nth-child(4) {
  background-image: url("images/apple_tv_small.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  background-size: cover;
}

.footer {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #f2f2f2;
}

.footer .fnav {
  position: relative;
  background: #f2f2f2;
  max-width: 1024px;
  height: auto;
  margin: 0 auto;
}

.footer .fnav .f1 {
  background: #f2f2f2;
  margin-top: 30px;
  width: 20%;
  height: 272px;
  float: left;
  border-bottom: 1px solid #fff;
}

.footer .fnav .f1 ul li a {
  font-family: "apple-text";
  display: block;
  color: #666;
  font-size: 12px;
  line-height: 20px;
}

.footer .fnav .f1 ul li a:hover {
  text-decoration: underline;
  color: #333;
}

.footer .fnav .ftop {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.footer .fnav .bottom {
  width: 100%;
  height: 30px;
  overflow: hidden;
  border-bottom: 1px solid #e3e3e3;
}

.footer .fnav .bottom p {
  font-family: "apple-text";
  float: left;
  line-height: 30px;
  font-size: 10px;
  color: #666;
}

.footer .fnav .bottom a {
  font-family: "apple-text";
  display: block;
  float: left;
  color: #0088cc;
  font-size: 10px;
  line-height: 30px;
}

.footer .fnav .bottom a:hover {
  text-decoration: underline;
  color: #333333;
}

.footer .fnav .bright {
  width: 100%;
  overflow: hidden;
}

.footer .fnav .bright .copy {
  margin-top: 5px;
  line-height: 20px;
  font-size: 10px;
  display: block;
  font-family: "apple-text";
  float: left;
  color: #666;
}

.footer .fnav .bright .more {
  float: left;
}

.footer .fnav .bright .more a {
  font-size: 10px;
  display: block;
  font-family: "apple-text";
  float: left;
  color: #666;
  margin-top: 5px;
  padding: 0 15px;
  height: 20px;
  border-right: 1px solid #e3e3e3;
  text-align: center;
  line-height: 20px;
}

.footer .fnav .bright .more a:hover {
  text-decoration: underline;
  color: #333333;
}

.footer .fnav .we {
  float: right;
  margin-top: 5px;
  width: 100px;
  height: 30px;
  background: url(images/16.png) no-repeat;
}

.footer .fnav .we a {
  display: block;
  font-size: 10px;
  line-height: 20px;
  font-family: "apple-text";
  margin-left: 20px;
}

.footer .fnav .we a:hover {
  text-decoration: underline;
  color: #333333;
}

.jiahao {
  width: 50px;
  height: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.jiahao .jiahao1 {
  width: 10px;
  height: 1px;
  background: #666;
  position: absolute;
  top: 10px;
  right: 0;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transform: translateY(5px) rotateZ(90deg);
  display: none;
}

.jiahao .jiahao2 {
  width: 10px;
  height: 1px;
  background: #666;
  position: absolute;
  top: 20px;
  right: 0;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transform: translateY(-5px);
  display: none;
}

@media screen and (max-width: 768px) {
  .jiahao .jiahao1 {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .jiahao .jiahao2 {
    display: block;
  }
}

.jiahao .jiahao1.jiahao0 {
  transform: translateY(5px) rotateZ(45deg);
}

.jiahao .jiahao2.jiahao0 {
  transform: translateY(-5px) rotateZ(-45deg);
}

.footer .fnav .f1 h3 + ul.chulai {
  height: auto;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .footer .fnav .we {
    width: 100%;
    float: left;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .footer .fnav .f1 {
    margin-top: 0;
    width: 100%;
    height: auto;
  }
  .footer .fnav .f1 ul {
    transition: all 0.4s ease;
    height: 0;
    overflow: hidden;
  }
  .footer .fnav .f1 ul li {
    padding: 0 20px;
    height: 30px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .footer .fnav .f1 h3 {
    padding: 0 20px;
    font-weight: normal;
    font-size: 14px;
    height: 40px;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    color: #333;
  }
  .footer .fnav .f1 h3:hover {
    color: black;
  }
}

/*# sourceMappingURL=index.css.map */